
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/defaultLayout}"
      layout:fragment="Content"
>

<form class="row g-3">

    <div class="col-auto">
        <label for="inputPassword2" class="visually-hidden">Password</label>
        <input type="text" class="form-control" id="inputPassword2" placeholder="검색어를 입력해주세요.">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">검색</button>
    </div>
</form>


<table class="table">
    <thead>
    <tr>
        <th scope="col">번호</th>
        <th scope="col">내용</th>
        <th scope="col">비고</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="logList : ${logList}">
        <th scope="row">[[${logList.logId}]]</th>
        <td>[[${logList.content}]]</td>
        <td><button class="btn btn-primary">확인하기</button></td>
    </tr>

    </tbody>
</table>



<ul class="pagination">


    <th:block th:with="log=${logList}">
        <li th:if="${!log.isLast() and !log.isFirst() or log.isLast()}" class="page-item">
            <a class="page-link" th:href="@{./admin(page=${log.getPageable().getPageNumber()})}">Prev</a>
        </li>


        <li th:each="i : ${#numbers.sequence(1, log.getTotalPages())}" class="page-item">
            <a class="page-link" th:href="@{./admin(page=${i})}">[[${i}]]</a>
        </li>

        <li th:if="${!log.isLast() and !log.isFirst() or log.isFirst()}" class="page-item">
            <a class="page-link" th:href="@{./admin(page=${log.getPageable().getPageNumber()+2})}">Next</a>
        </li>
    </th:block>

<!--    <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--    <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--    <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--    <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
</ul>

</html>