<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="layout/config :: ConfigFragment">
    <title>관리자 페이지</title>

</head>
<link rel="stylesheet" th:href="@{/css/adminSideBar.css}"/>

<script type="text/javascript" th:src="@{/js/AdminSideBarActiveScript.js}"></script>

<body>


<header th:replace="admin/layout/sidebar :: SideBarFragment">

</header>



<main style="margin-top: 58px">

    <div class="container pt-4">
        <!--Content 내용 영역을 참조합니다-->
        <th:block layout:fragment="Content"></th:block>
        <!--Footer 영역을 참조합니다.-->
        <footer th:replace="layout/footer :: FooterFragment"></footer>
    </div>
</main>

</body>
</html>