





<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white" th:fragment="SideBarFragment">
<div class="position-1sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
        <a href="/admin/members" id="memberManager" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
            <i class="fa-solid fa-user-gear me-2"></i><span class="manager">멤버관리</span>
        </a>
        <a href="#" id="boardManager" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fa-solid fa-clipboard-list me-3"></i><span class="manager">게시판관리</span>
        </a>
        <a href="#" id="commentManager" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fa-solid fa-comments me-2"></i><span class="manager">댓글관리</span>
        </a>
        <a href="#" id="categoryManager" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fa-solid fa-list me-3"></i><span class="manager">카테고리관리</span>
        </a>
    </div>
</div>

    <script>
        const aTagList = document.querySelectorAll('a.list-group-item');
        const spanList = document.querySelectorAll('span.manager');


        aTagList.forEach((item)=>{
            item.addEventListener('click', ()=>tagActiveAndLink(event));
        });

        spanList.forEach((item)=>{
            item.addEventListener('click', ()=>tagActive(event));
        });
    </script>

</nav>




<!-- Sidebar -->


