

<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="HeaderFragment">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="bi bi-house-heart-fill"></i> ThinkingRunning</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="&#45;&#45;bs-scroll-height: 100px;">

                <th:block th:each="category: ${categoryList}">
                    <li th:if="${category['isDrop'] eq '0' and category['isShow'] eq '1'}">
                        <a th:href="@{'/cate/' + ${category['cateId']} + '/boards'}" class="nav-link" aria-current="page">[[${category['content']}]]</a>
                    </li>
                </th:block>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">프로그래밍</a>
                            <ul class="dropdown-menu">
                                <th:block th:each="category: ${categoryList}">
                                    <li th:if="${category['isDrop'] eq '1' and category['isShow'] eq '1'}">
                                        <a th:href="@{'/cate/' + ${category['cateId']} + '/boards'}" class="dropdown-item">[[${category.content}]]</a>
                                    </li>
                                </th:block>
                            </ul>
                    </li>



            </ul>
            <form class="d-flex" role="search">

                <a th:href="@{'/admin'}">
                    <i class="fa-solid fa-gear"></i>
                </a>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="d-flex flex-row-reverse">
    <button type="button" id="login" class="btn btn-primary p-2 mx-2">로그인</button>
    <button type="button" id="register" class="btn btn-success p-2">회원가입</button>
</div>


<script defer>
    login.addEventListener('click', ()=>urlLocation(event));
    register.addEventListener('click', ()=>urlLocation(event));
    function urlLocation(e){
        if (register == e.target)
            location.href = "/member/join";
        else if (login == e.target)
            location.href = "/member/login";
    }



</script>

