
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/defaultLayout}"
      layout:fragment="Content"
>

<form class="row g-3" method="GET" action="./admin">

    <div class="col-auto">
        <label for="inputPassword2" class="visually-hidden">Password</label>
        <input type="text" class="form-control" id="inputPassword2" name="searchValue" placeholder="검색어를 입력해주세요.">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">검색</button>
    </div>
</form>


<table class="table">
    <thead>
    <tr>
        <th scope="col">선택</th>

        <th scope="col">유저번호</th>
        <th scope="col">닉네임</th>
        <th scope="col">이메일</th>
        <th scope="col">아이피번호</th>
        <th scope="col">생성일</th>
        <th scope="col">수정일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${memberList}">
        <th scope="row">
            <input type="checkbox" th:value="${member.getMemberId()}">
        </th>

        <td>[[${member.memberId}]]</td>
        <td>[[${member.name}]]</td>
        <td>[[${member.email}]]</td>
        <td>[[${member.ip}]]</td>
        <td>[[${member.createAt}]]</td>
        <td>[[${member.modifyAt}]]</td>
        <td><button class="btn btn-primary">확인하기</button></td>
    </tr>

    </tbody>
</table>



<ul class="pagination">
    <th:block th:with="member=${memberList}">

        <li th:if="${!member.isLast() and !member.isFirst() or member.isLast() and !member.isEmpty()}" class="page-item">
            <a class="page-link" th:href="@{./admin(page=${member.getPageable().getPageNumber()})}">Prev</a>
        </li>


        <li th:if="${!member.isEmpty()}" th:each="i : ${#numbers.sequence(1, member.getTotalPages())}" class="page-item">
            <a  th:attr="class=${member.getPageable().getPageNumber()+1 == i ? 'page-link active' : 'page-link'}" th:href="@{./admin/member(page=${i})}">[[${i}]]</a>
        </li>

        <li th:if="${!member.isLast() and !member.isFirst() or member.isFirst() and !member.isEmpty()}" class="page-item">
            <a class="page-link" th:href="@{./admin/member(page=${member.getPageable().getPageNumber()+2})}">Next</a>
        </li>
    </th:block>
</ul>






</html>